.nave{
    background: #0c084c;
}

.navbar-light .navbar-brand  {
    color: #f8f9fa;
}
img{
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 500px;
    
}
.container{
    margin-block-start: 50px;
}
.row{
    padding: 20px;
}
.avatar{
    border-radius: 8px;
    width: 100%;
    height: 80%;
}
.social{
    margin-top: 80%;
    width: 65%;
    height: 40%;
}
.cardProfile{
    margin: 10px;
}